/* MAIN BODY */
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: whitesmoke;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
    display: none;
}
/*HEADER*/
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black!important;
    opacity: 0.9;
}
.navbar {
    position: sticky;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: black;
    opacity: 0.9;
}
.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
}
/*FOOTER*/
footer {
    background-color: black;
    position: sticky;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 8px;
}
/*jumbotron*/
.jumbotron {
    color: #343a40;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: justify;
    opacity: 0.94;
}
/*LAYOUTCONTAINER*/
.layout-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:1440px) {
    .layout-container {
        width: 80%;
        padding-left: 0;
        padding-right: 0;
    }
}
.layout-box {
    padding: 0.5rem 1rem;
}
/* MODAL */
.modal-content {
    background-color: #40403f;
    text-align: justify;
}

/* AFDELINGER */
.ranks {
    width: 15em;
    height: 11em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
/* PERSONALE */
.dossier {
    height: 15em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.modal-vip {
    background-color: #40403f;
    padding: 1rem;
}
.dossier-vip {
    width: 25rem;
    height: 15rem;
    display: block;
    width: 100%;
    height: 100%
}
/*LOGO*/
.logo img {
    width: 22rem;
    height: 22rem;
    margin-top: 1rem;
}
/*BACKGROUND*/
.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('Img/Atlas/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(2.5px);
    transform: scale(1.05);
}
/* DROPDOWN */
.dropdown .dropdown-menu {
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/* IFRAME ANSØGNINGER*/
.i-frame {
    height: 217rem;
}



/* TEMP */
.temp {
    height: 100%;
    width: 100%;
}


