<!-- FONZIE -->
<div class="modal fade bd-example-modal-lg" id="fonzie" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class=" modal-content dossier-vip" src="~/Content/Img/Dossier/Foznie.png" />
            </div>
        </div>
    </div>
</div>
