<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="regler" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Regler & Vedtægter</h4>
            </div>
            <div class="modal-body">
                <h5>Overordnet regler</h5>
                §1 - En hver af Atlas Military Groups nedenstående regler, forventes af medlemmer overholdt til bedste evne.<br />
                stk. 1. Ethvert brud på nedenstående regler, vil i første omgang blive påtalt, og der vil blive forsøgt med dialog om problemet.<br />
                stk. 2. I alvorlige tilfælde kan ledelsen af Atlas Military Group se sig nødsaget til at udelukke et medlem fra gruppen.<br />
                <hr />
                §2 - Reglen om samtale.<br />
                Ledelsen i Atlas Military Group, kan beslutte at mødes med et medlem til en samtale. Dette kan være om fravær, regelbrud, adfærd etc.
                Samtalen ses ikke som en advarsel eller trussel, men betragtes som ledelsens forsøg på at være lydhør over for eventuelle udfordringer, medlemmet skulle være i.<br />
                stk. 1. Ved en fornuftig forklaring, laves en afslutning på samtalen, med en konkret aftale omkring medlemmets videre deltagelse.<br />
                stk. 2. Ved ingen eller ringe forklaring gives en formel advarsel til medlemmet. Se §3<br />
                <hr />
                §3 - Reglen om formel advarsel.<br />
                En formel advarsel gives hvis et medlem i alvorlig eller gentagen grad har forbrudt sig på regler og aftaler i Atlas Military Group.<br />
                Advarslen skal ses som en sidste chance for medlemmet, for at tilpasse sig regler og aftaler.<br />
                stk. 1. Det er ledelsen i Atlas Military Group der vurdere hvorvidt medlemmet står til en formel advarsel.<br />
                <hr />
                §4 - Reglen om udsmidning af medlem.<br />
                Ledelsen i Atlas Military Group, kan i enighed beslutte at et medlem skal udsmides af enheden.<br />
                Det gøres oftest efter at et medlem ikke har udviklet sig positivt efter en formel advarsel §3. Bliver et medlem smidt ud, er det med øjeblikkelig virkning.<br />
                stk. 1. Ledelsen kan i alvorlige tilfælde, udelade advarslen og smide et medlem ud med øjeblikkelig virkning.<br />
                <hr />
                <!-- INGAME ETIK -->
                <h5>Ingame Etik</h5>
                §1 - Reglen om den gode tone.<br />
                Hos Atlas har vi en regel om at alle holder den gode tone når vi er sammen. Ingen er hævet over hinanden, eller skal opføre sig sådan.
                Man kan derfor forvente en samtale, hvis man ikke kan overholde denne regel.<br />
                §2 - Reglen om seriøsitet og Indlevelse. Atlas er i bund og grund et milsim, sat i en privatejet setting.
                Derfor forventes det også af vores medlemmer, at de spiller med en vis grad seriøsitet og indlevelse.
                <hr />
                §2 - Reglen om fravær.<br />
                Atlas military group består af et fællesskab som alle forventes at bidrage til, hvergang du udebliver går det udover fællesskabet.
                I Atlas er der ingen krav i forhold til Fravær, men ledelsen holder altid øje med fraværet hos medlemmer.
                Påvirket medlemmets fravær i sidste ende fællesskabets oplevelse, er det i første omgang tale om en advarsel, dernæst bliver medlemmet smidt ud.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
            </div>
        </div>
    </div>
</div>
