
@{
    ViewBag.Title = "Afdelinger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- LOGO -->
<div class="text-center logo">
    <img src="~/Content/Img/Atlas/logo.png" />
</div>
<!-- KOLONNE -->
<div class="layout-container">
    <div class="jumbotron">
        <!-- BESTYRELSE -->
        <div class="row">
            <!-- BILLEDE -->
            <div class=" col-md-4 text-center">
                <img class="ranks text-center" src="~/Content/Img/Ranks/toc.png" />
            </div>
            <!-- KOLONNE -->
            <div class=" col-md-8">
                <!-- HEADLINE -->
                <h5>
                    Bestyrelse
                </h5>
                <!-- STEPLINE -->
                <hr class="my-3">
                <!-- TEXT -->
                <p>
                    Bestyrelsen er den øverste del uden om Atlas Military Group. Denne består af medlemmerne der oprettede Atlas, som i enighed bestyrer forskellige elementer af Atlas.
                </p>
            </div>
        </div>
        <!-- STEPLINE -->
        <hr class="my-3">
        <!-- REAKTIONSSTYRKE -->
        <div class="row">
            <!-- BILLEDE -->
            <div class=" col-md-4 text-center">
                <img class="ranks" src="~/Content/Img/Ranks/hæren.png" />
            </div>
            <!-- KOLONNE -->
            <div class=" col-md-8">
                <!-- HEADLINE -->
                <h5>
                    Reaktionsstyrke
                </h5>
                <!-- STEPLINE -->
                <hr class="my-3">
                <!-- TEXT -->
                <div>
                    <p>Vores aktive styrker.</p>
                    <p>
                        Denne afdeling er vores aktive ingame enhed, som alle, ud over Zeus, er en del af. Enheden styres af en øverstbefalende opgavechef, delingsfører eller højere,
                        der har ansvaret for at vi løser den opgave vi er blevet hyret til at klare.
                    </p>
                    <p>Som udgangspunkt er det denne afdeling, som alle nye vil blive en del af, og det er denne enhed vores koncept er bygget op omkring.</p>
                </div>
            </div>
        </div>
        <!-- STEPLINE -->
        <hr class="my-3">
        <!-- LOGISTIK -->
        <div class="row">
            <!-- BILLEDE -->
            <div class=" col-md-4 text-center">
                <img class="ranks text-center" src="~/Content/Img/Ranks/jest.png" />
            </div>
            <!-- KOLONNE -->
            <div class=" col-md-8">
                <!-- HEADLINE -->
                <h5>
                    Logistik
                </h5>
                <!-- STEPLINE -->
                <hr class="my-3">
                <!-- TEXT -->
                <p>Missionsafdeling er for alt relateret til missionen, samt alt der skal støtte op omkring den.</p>
                <p>Dette indebære ZEUS personale, der designer og "hyre" de aktive styrker til opgaver, logistisk personel mm.</p>
            </div>
        </div>
    </div>
</div>
