
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout-container">
    <div class="layout-box jumbotron">
        <h1 class="display-3">Aspirant</h1>
        <p class="lead">
            Nedenfor kan der sendes en ansøgning til os. Du vil høre fra os når vi har kigget på din ansøgning.
        </p>
        <hr class="my-4">
        <!-- APPLY -->
        <form class="">
            <fieldset>
                <!-- NAVN -->
                <div class="form-group">
                    <span for="">Fulde navn</span>
                    <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Intast navn.">
                </div>
                <!-- MAIL -->
                <div class="form-group">
                    <span for="">Email adresse</span>
                    <input type="email" class="form-control" id="" placeholder="Intast email.">
                    <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <!-- CHECKBOX -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Jeg ejer ArmA 3 & DLC
                    </label>
                </div>
                <!-- SUBMIT -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
