
@{
    ViewBag.Title = "Ansøg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-container">
    <div class="layout-box jumbotron">
        <h1 class="display-3">Ansøger</h1>
        <p class="lead">
            Nedenfor kan der sendes en ansøgning til os. Du vil høre fra en når vi har modtaget på din ansøgning.
        </p>
        <hr class="my-4">
        <!-- APPLY -->
        <form class="">
            <fieldset>
                <!-- NAVN -->
                <div class="form-group">
                    <span for="">Fulde navn</span>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Intast navn.">
                </div>






                <!-- SEND -->
                <button type="submit" class="btn btn-primary">Send</button>
            </fieldset>
        </form>
    </div>
</div>
