
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BODY -->
<img class="temp" src="~/Content/Img/commen/under_constuction.png" />

<!-- KOLONNE -->
<div class="layout-container">
    <div class="jumbotron">
        <!-- REAKTIONSSTYRKE -->
        <div class="row">
            <!-- BILLEDE -->
            <div class=" col-md-4 text-center">
                <img class="ranks" src="~/Content/Img/Ranks/hæren.png" />
            </div>
            <!-- KOLONNE -->
            <div class=" col-md-8">
                <!-- HEADLINE -->
                <h5>
                    Reaktionsstyrke
                </h5>
                <!-- STEPLINE -->
                <hr class="my-3">
                <!-- TEXT -->
                <p>
                    Text
                </p>
            </div>
        </div>
        <!-- STEPLINE -->
        <hr class="my-3">
        <!-- LOGISTIK -->
        <div class="row">
            <!-- BILLEDE -->
            <div class=" col-md-4 text-center">
                <img class="ranks text-center" src="~/Content/Img/Ranks/jest.png" />
            </div>
            <!-- KOLONNE -->
            <div class=" col-md-8">
                <!-- HEADLINE -->
                <h5>
                    Logistik
                </h5>
                <!-- STEPLINE -->
                <hr class="my-3">
                <!-- TEXT -->
                <p>
                    Text
                </p>
            </div>
        </div>
        <!-- STEPLINE -->
        <hr class="my-3">
        <!-- BESTYRELSE -->
        <div class="row">
            <!-- BILLEDE -->
            <div class=" col-md-4 text-center">
                <img class="ranks text-center" src="~/Content/Img/Ranks/toc.png" />
            </div>
            <!-- KOLONNE -->
            <div class=" col-md-8">
                <!-- HEADLINE -->
                <h5>
                    Bestyrelse
                </h5>
                <!-- STEPLINE -->
                <hr class="my-3">
                <!-- TEXT -->
                <p>
                    Text
                </p>
            </div>
        </div>
    </div>
</div>