
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BODY -->
<h2>Evnets</h2>

<div class="layout-container">
    <div class="layout-box jumbotron">

    </div>
    <!-- COLBOTTEM-->
    <div class="row">
        <div class="col-md-6">
            <div class="layout-box jumbotron">

            </div>
        </div>
        <div class="col-md-6">
            <div class="layout-box jumbotron">

            </div>
        </div>
    </div>
</div>
