
@{
    ViewBag.Title = "Galleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- LOGO -->
<div class="text-center logo">
    <img src="~/Content/Img/Atlas/logo.png" />
</div>

<!-- GALLERI -->
<div class="container jumbotron">
    <!-- KOLONNE -->
    <div class="row">
        <div class="col-md-6 slidergal">
            <!-- HEADLINE -->
            <h3 class="text-center">
                Mission D. ...
            </h3>
            <!-- SLIDER -->
            <ul id="lightSlider">
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />
                </li>
            </ul>
        </div>
        <!-- SLIDER 2 -->
        <div class="col-md-6 slidergal">
            <!-- HEADLINE -->
            <h3 class="text-center">
                Mission D. ...
            </h3>
            <!-- SLIDER -->
            <ul id="lightSlider_2">
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <!-- KOLONNE -->
    <div class="row">
        <div class="col-md-6 slidergal">
            <!-- HEADLINE -->
            <h3 class="text-center">
                Mission D. ...
            </h3>
            <!-- SLIDER -->
            <ul id="lightSlider_3">
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />
                </li>
            </ul>
        </div>
        <!-- SLIDER 2 -->
        <div class="col-md-6 slidergal">
            <!-- HEADLINE -->
            <h3 class="text-center">
                Mission D. ...
            </h3>
            <!-- SLIDER -->
            <ul id="lightSlider_4">
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
                </li>
                <li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
                    <img src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />
                </li>
            </ul>
        </div>
    </div>
</div>
