
@{
    ViewBag.Title = "Galleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- LOGO -->
<div class="text-center logo">
    <img src="~/Content/Img/Atlas/logo.png" />
</div>

<div class="demo">
    <div class="item">
        <div class="clearfix" style="max-width:474px;">
            <div class="lSSlideOuter ">
                <div class="lSSlideWrapper usingCss" style="transition-duration: 500ms; transition-timing-function: ease;">
                    <ul id="image-gallery" class="gallery list-unstyled lightSlider lsGrab lSSlide" style="width: 8058px; transform: translate3d(-474px, 0px, 0px); height: 342px; padding-bottom: 0%;">
                        <li data-thumb="img/thumb/cS-15.jpg" class="clone left" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-15.jpg">
                        </li>
                        <li data-thumb="img/thumb/_Fonzie.png" class="lslide active" style="width: 474px; margin-right: 0px;">
                            <img src="~/Content/Img/Dossier/Head/_Fonzie.png" />
                        </li>
                        <li data-thumb="img/thumb/cS-2.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-2.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-3.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-3.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-4.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-4.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-5.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-5.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-6.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-6.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-7.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-7.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-8.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-8.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-9.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-9.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-10.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-10.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-11.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-11.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-12.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-12.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-13.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-13.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-14.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-14.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-15.jpg" class="lslide" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-15.jpg">
                        </li>
                        <li data-thumb="img/thumb/cS-1.jpg" class="clone right" style="width: 474px; margin-right: 0px;">
                            <img src="img/cS-1.jpg">
                        </li>
                    </ul><div class="lSAction"><a class="lSPrev"></a><a class="lSNext"></a></div>
                </div><ul class="lSPager lSGallery" style="margin-top: 5px; transition-duration: 500ms; width: 798.833px; transform: translate3d(0px, 0px, 0px);"><li style="width:100%;width:48.22222222222222px;margin-right:5px" class="active"><a href="#"><img src="img/thumb/cS-1.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-2.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-3.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-4.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-5.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-6.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-7.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-8.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-9.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-10.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-11.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-12.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-13.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-14.jpg"></a></li><li style="width:100%;width:48.22222222222222px;margin-right:5px"><a href="#"><img src="img/thumb/cS-15.jpg"></a></li></ul>
            </div>
        </div>
    </div>
</div>
