
@{
    ViewBag.Title = "Infomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-container">
    <!-- LOGO -->
    <div class="text-center logo">
        <img src="~/Content/Img/Atlas/logo.png" />
    </div>
    <!-- HEADLINE -->
    <div class="jumbotron">
        <h1 class="">Vores historie</h1>
        <p class="">
            <!-- VORES HISTORIE -->
            Hos Atlas sætter vi altid pris på nye folk, der gerne vil opleve Arma 3 fra en anden side end det normale militær milsim.
            Opsætning som privat militær giver os en masse unikke muligheder, både individuelt for medlemmer, men også som fællesskab.
            Hos os oplever du blandt andet.
            <br /><br />
            - En setting som privat firma. Opgaverne vil blive mangfoldige og forskellige, med mange typer af bagmænd.<br />
            - Vi ikke tvunget til et bestemt setup, og vores missionmaker “hyrer” os til opgaver, ud fra behov der bliver ønsket, uanset om det klassisk infanteri, SF missioner i dykkerdragt, eller civile beskyttelse.<br />
            - Karakteropbygning. Noget helt nyt er vores økonomisystem, hvor spillere får løn, som de kan bruge på nyt udstyr, våben og meget mere. Din spiller bliver unik, og alt bliver gemt.<br />
            - En afslappet setting. Vi fokuserede og seriøse på opgaver, men hos os får du en afslappet og hyggelig stemning, hvor alle er i fokus, nye som gamle.<br />
            <hr class="my-4">
            <!-- FOKUS på UNDERHOLDNING -->
            <h1 class="">Fokus på underholdning</h1>
            Hos Atlas er vores værdi underholdning, hvilket betyder at hele vores setup, er bygget op omkring, at vi kan levere et underholdende spil. Der er fokus på en god historie fra missionmaker (zeus) siden, og der er fokus på at karakter udvikling og opbygning kan lade sig gøre. Efter en opgave hos os, skal folk gå fra computeren med et smil på læben og mindet om en god oplevelse.
            Derfor er der hos ATLAS ikke nogen overordnet der står og råber af de nye. Tonen er i orden, uanset om man er ny eller gammel.
            <br /><br />
            Vi har ingen rekrut ordning, ej heller et særligt stort fokus på rang orden osv. Hos os er vi et fællesskab, hvor nye som gamle kan byde ind med ideer, tanker, holdninger mm.
            Når det så er sagt, skal der til “den gode underholdning” i Arma 3, også en god potion realisme og seriøsitet. Hos Atlas forventer vi en vis grad af seriøsitet og indlevelse af vores medlemmer, under selve spillet. Men vi er også bevidste om at der skal være en balance mellem seriøsitet sjov, for at skabe en underholdende og rar atmosfære.
            <hr class="my-4">
            <!-- FOKUS på UNDERHOLDNING -->
            <h1 class="">Økonomi og Udvikling</h1>
            Atlas er sat op med et økonomisk database system, hvor alle spillere får ingame løn. Man får både en “timeløn”, men også for at fuldende en mission. Den sidste del gives kun til deltagende medlemmer. Har man ikke deltaget, har man selvfølgelig ikke fået løn.
            <br /><br />
            Pengene bruges i vores ingame shop, hvor spillerne har mulighed for at købe nyt udstyr, gear, våben osv, så der er mulighed for at customise og udvikle sin karakter fuldstændigt efter eget ønske.
            Alt gemmes i vores egen database, så spillerne aldrig mister hvad de har gået og sparet op efter på flere missioner i træk.
            <hr class="my-4">
            <!-- FOKUS på UNDERHOLDNING -->
            <h1 class="">Trænings og spilletider</h1>
            Vi har i Atlas prioriteret at have en enkelt spilledag om ugen, 1 gang ugentlig træner vi stedet for at lave opgaver.
            <br />
            Denne dag er Tirsdage kl. 1930 til 2230
        </p>
    </div>
</div>
