
@{
    ViewBag.Title = "Infomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-container">
    <!-- LOGO -->
    <div class="text-center logo">
        <img src="~/Content/Img/Atlas/logo.png" />
    </div>

    <!-- HEADLINE -->
    <div class="jumbotron">
        <h1 class="">Vores historie</h1>
        <p class="">
            Hos Atlas sætter vi altid pris på nye folk, der gerne vil opleve Arma 3 fra en anden side end det normale militær milsim.
            Opsætning som privat militær giver os en masse unikke muligheder, både individuelt for medlemmer, men også som fællesskab.
            Hos os oplever du blandt andet.
            <br /><br />
            - En setting som privat firma. Opgaverne vil blive mangfoldige og forskellige, med mange typer af bagmænd.<br />
            - Vi ikke tvunget til et bestemt setup, og vores missionmaker “hyrer” os til opgaver, ud fra behov der bliver ønsket, uanset om det klassisk infanteri, SF missioner i dykkerdragt, eller civile beskyttelse.<br />
            - Karakteropbygning. Noget helt nyt er vores økonomisystem, hvor spillere får løn, som de kan bruge på nyt udstyr, våben og meget mere. Din spiller bliver unik, og alt bliver gemt.<br />
            - En afslappet setting. Vi fokuserede og seriøse på opgaver, men hos os får du en afslappet og hyggelig stemning, hvor alle er i fokus, nye som gamle.<br />
        </p>

        <hr class="my-4">
    </div>
</div>
