
@{
    ViewBag.Title = "Infomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-container">
    <!-- LOGO -->
    <div class="text-center logo">
        <img src="~/Content/Img/Atlas/logo.png" />
    </div>
    <!-- HEADLINE -->
    <div class="jumbotron">
        <h1 class="">Vores historie</h1>
        <p class="">
            <!-- VORES HISTORIE -->
            Historien bag
            Atlas Military Group, i daglige tale Atlas, blev skabt i sommeren 2018, af flere erfarne Arma 3 spillere.
            Vi har valgt at brugere dedikerede servere og databaser, så spille oplevelsen ikke ødelægges af en langsom server, har naturligvis egen TS og repository, så opdatering af mods går som en leg.
            <br /><br />
            Ideen bag Atlas opstod med ønsket om at lave en enhed, der ikke var bundet i sit setup. Typisk spiller enheder den type opgaver som deres enhed passer til, fx infanteri, Special Forces osv, men vi ville gerne have muligheden for at kunne vælge til og fra alt efter behov og lyst.
            Derfor blev ideen om et privatejet militært firma, ved navn Atlas skabt.
            <br /><br />
            Ideen er at Atlas er et internationalt omspændt firma som hyres til forskellige opgaver i det militære felt.
            På den måde kunne opgaverne være alt inden for området, kun bestemt af fællesskabets behov og lyst.
            <hr class="my-4">
            <!-- FOKUS på UNDERHOLDNING -->
            <h1 class="">Fokus på underholdning</h1>
            Hos Atlas er vores værdi underholdning, hvilket betyder at hele vores setup, er bygget op omkring, at vi kan levere et underholdende spil. Der er fokus på en god historie fra missionmaker (zeus) siden, og der er fokus på at karakter udvikling og opbygning kan lade sig gøre. Efter en opgave hos os, skal folk gå fra computeren med et smil på læben og mindet om en god oplevelse.
            Derfor er der hos ATLAS ikke nogen overordnet der står og råber af de nye. Tonen er i orden, uanset om man er ny eller gammel.
            <br /><br />
            Vi har ingen rekrut ordning, ej heller et særligt stort fokus på rang orden osv. Hos os er vi et fællesskab, hvor nye som gamle kan byde ind med ideer, tanker, holdninger mm.
            Når det så er sagt, skal der til “den gode underholdning” i Arma 3, også en god potion realisme og seriøsitet. Hos Atlas forventer vi en vis grad af seriøsitet og indlevelse af vores medlemmer, under selve spillet. Men vi er også bevidste om at der skal være en balance mellem seriøsitet sjov, for at skabe en underholdende og rar atmosfære.
            <hr class="my-4">
            <!-- FOKUS på UNDERHOLDNING -->
            <h1 class="">Økonomi og Udvikling</h1>
            Atlas er sat op med et økonomisk database system, hvor alle spillere får ingame løn. Man får både en “timeløn”, men også for at fuldende en mission. Den sidste del gives kun til deltagende medlemmer. Har man ikke deltaget, har man selvfølgelig ikke fået løn.
            <br /><br />
            Pengene bruges i vores ingame shop, hvor spillerne har mulighed for at købe nyt udstyr, gear, våben osv, så der er mulighed for at customise og udvikle sin karakter fuldstændigt efter eget ønske.
            Alt gemmes i vores egen database, så spillerne aldrig mister hvad de har gået og sparet op efter på flere missioner i træk.
            <hr class="my-4">
            <!-- FOKUS på UNDERHOLDNING -->
            <h1 class="">Trænings og spilletider</h1>
            Atlas spiller en gang om ugen, hver tirsdag fra kl. 1930-2230.
            <br />
            Den første tirsdag i hvert måned, bruger vi på træning/træningsmissioner, hvor vi fokus på forskellige elementer.
        </p>
    </div>
</div>
