
@{
    ViewBag.Title = "Personale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- LOGO -->
<div class="text-center logo">
    <img src="~/Content/Img/Atlas/logo.png" />
</div>
<!-- KOLONNE -->
<div class="layout-container">
    <div class="jumbotron">
        <!-- REAKTIONSSTYRKE -->
        <div>
            <!-- BILLEDE -->
            <div class="text-center">
                <img class="ranks text-center" src="~/Content/Img/Ranks/hæren.png" />
            </div>
            <!-- HEADLINE -->
            <h3 class="text-center">
                Reaktionsstyrke
            </h3>
            <!-- KOLONNE -->
            <div class="row text-center">
                <!-- FONZIE -->
                <div class="col-md-3">
                    <div>
                        <h5>Fonzie</h5>
                    </div>
                    <img class="btn dossier" data-toggle="modal" data-target="#fonzie" src="~/Content/Img/Dossier/fonzie_head.png" />
                </div>
                <!-- KLV -->
                <div class="col-md-3">
                    <img class="btn dossier" data-toggle="modal" data-target="#fonzie" src="~/Content/Img/Dossier/dossier.png" />
                </div>
                <!-- NEMO -->
                <div class="col-md-3">
                    <img class="btn dossier" data-toggle="modal" data-target="#fonzie" src="~/Content/Img/Dossier/dossier.png" />
                </div>
                <!-- FONZIE -->
                <div class="col-md-3">
                    <img class="btn dossier" data-toggle="modal" data-target="#fonzie" src="~/Content/Img/Dossier/dossier.png" />
                </div>
            </div>



            <!-- STEPLINE -->
            <hr class="my-3">
            <!-- LOGISTIK -->
            <div>
                <div class="text-center">
                    <img class="ranks text-center" src="~/Content/Img/Ranks/jest.png" />
                </div>
                <!-- HEADLINE -->
                <h3 class="text-center">
                    Logistik
                </h3>
                <!-- KOLONNE -->
                <div class="row text-center">
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                </div>
                <!-- STEPLINE -->
                <hr class="my-3">
            </div>
            <!-- BESTYRELSE -->
            <div>
                <!-- BILLEDE -->
                <div class="text-center">
                    <img class="ranks text-center" src="~/Content/Img/Ranks/toc.png" />
                </div>
                <!-- HEADLINE -->
                <h3 class="text-center">
                    Bestyrelse
                </h3>
                <!-- REAKTIONSSTYRKE -->
                <div class="row text-center">
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                    <!-- BILLEDE -->
                    <div class=" col-md-3 text-center">
                        <img class="dossier" src="~/Content/Img/Dossier/dossier.png" />
                    </div>
                </div>
                <!-- STEPLINE -->
                <hr class="my-3">
            </div>
        </div>
    </div>
</div>
