
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BODY -->
<div class="layout-container">
    <div class="layout-box jumbotron">
        <!-- HEADLINE -->
        <h1 class="display-3">Ansøger</h1>
        <p class="lead">
            Nedenfor kan der sendes en ansøgning til os. Du vil høre fra os når vi har kigget på din ansøgning.
        </p>
        <hr class="my-4">
        <!-- APPLY -->
        <form class="">
            <fieldset class="text-center">
                <iframe class=" layout-container i-frame"
                        src="https://docs.google.com/forms/d/e/1FAIpQLSca7-PXn8H01l1zWIg_ELkDZzwkjV3t2DNoRjt6McqdPbZ2MQ/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Indlæser...</iframe>
            </fieldset>
        </form>
    </div>
</div>
